.fav-page
    button.dark-btn dark
    .container
        .info
            .info__left
                .info__title Контролюй #[span гру]
                .info__subtitle
                    .info__subtitle-top з кешаутом
                    .info__subtitle-bottom Хто контролює гру, контролює ситуацію
                .info__text
                    span.info__text-item З кешаутом від FAVBET у тебе все під контролем.
                    span.info__text-item Якщо вагаєшся, функціонал допомагає забрати кошти до розрахунку ставки та моментально отримати запропоновану організатором суму на баланс.
                    span.info__text-item Круто? Звісно круто.
                a(href='#').info__btn.btn зробити ставку
                .info__pers
                    picture
                        source(srcset="./img/pers-desc.png" media="(min-width: 1025px)")
                        source(srcset="./img/pers-tab.png" media="(min-width: 601px)")
                        source(srcset="./img/pers-mob.png" media="(max-width: 600px)")
                        source(srcset="./img/pers-mob.png" media="(max-width: 950px) and (max-height: 450px) and (orientation: landscape)")
                        img(src="./img/pers-mob.png" alt="favbet")
            .info__right
                .info__animation
        .guide
            .guide__left
                .guide__title Як скористатися
                .guide__subtitle кешаутом?
                .guide__wrap
                    ol.guide__list
                        li.guide__list-item Обирай подію для ставки в «СПОРТ» або «LIVE»
                        li.guide__list-item Роби ставку
                        li.guide__list-item До чи під час події заходь в «КУПОН» — «МОЇ СТАВКИ» або в особистий кабінет та обирай розділ «ІСТОРІЯ СТАВОК»
                        li.guide__list-item Якщо ставка відповідає визначеним Організатором умовам, з’явиться кнопка “CASHOUT” та запропонована сума. Якщо тебе влаштовує сума, тисни кнопку “ПІДТВЕРДІТЬ CASHOUT”
                        li.guide__list-item CASHOUT підтверджено. Чекай на повернення коштів
                a(href="#").guide__btn.btn зробити ставку
            .guide__right
                picture.light-mob
                    source(srcset="./img/phone-desc.png" media="(min-width: 1025px)")
                    source(srcset="./img/phone-tab.png" media="(min-width: 601px)")
                    source(srcset="./img/phone-mob.png" media="(max-width: 600px) and (orientation: portrait")
                    source(srcset="./img/phone-tab.png" media="(max-width: 950px) and (max-height: 450px) and (orientation: landscape")
                    img(src="./img/phone-mob.png" alt="favbet")
                picture.dark-mob
                    source(srcset="./img/phone-desc-dark.png" media="(min-width: 1025px)")
                    source(srcset="./img/phone-tab-dark.png" media="(min-width: 601px)")
                    source(srcset="./img/phone-mob-dark.png" media="(max-width: 600px) and (orientation: portrait")
                    source(srcset="./img/phone-tab-dark.png" media="(max-width: 950px) and (max-height: 450px) and (orientation: landscape")
                    img(src="./img/phone-mob-dark.png" alt="favbet")