.fav-page
    .container
        .info
            .info__left
                .info__title Control #[span the game]
                .info__subtitle
                    .info__subtitle-top with cashout
                    .info__subtitle-bottom Who controls the game controls the situation
                .info__text
                    span.info__text-item With cashout from FAVBET you have everything under control.
                    span.info__text-item If you hesitate, functional readiness to withdraw funds at the settlement rate and instantly receive the amount offered by the organizer on the balance sheet.
                    span.info__text-item Cool? Of course cool.
                a(href='/live/all/').info__btn.btn Place a bet
                .info__pers
                    picture
                        source(srcset="./img/pers-desc.png" media="(min-width: 1025px)")
                        source(srcset="./img/pers-tab.png" media="(min-width: 601px)")
                        source(srcset="./img/pers-mob.png" media="(max-width: 600px)")
                        source(srcset="./img/pers-mob.png" media="(max-width: 950px) and (max-height: 450px) and (orientation: landscape)")
                        img(src="./img/pers-mob.png" alt="favbet")
            .info__right
                .info__animation
        .guide
            .guide__left
                .guide__title How to use
                .guide__subtitle cashout?
                .guide__wrap
                    ol.guide__list
                        li.guide__list-item Choose an event for a bet in "SPORTS" or "LIVE"
                        li.guide__list-item Place a bet
                        li.guide__list-item Before or during the event, go to "COUPON" - "MY BET" or to My Account and select the "BET HISTORY" section

                        li.guide__list-item If the bet meets #[a(href="/rules/") the conditions set by the Organizer], the “CASHOUT” button and the proposed amount will appear. If you are satisfied with the amount, press the "CONFIRM CASHOUT" button
                        li.guide__list-item CASHOUT confirmed. Wait for the refund
                a(href="/live/all/").guide__btn.btn Place a bet
            .guide__right
                picture.light-mob
                    source(srcset="./img/phone-desc.png" media="(min-width: 1025px)")
                    source(srcset="./img/phone-tab.png" media="(min-width: 601px)")
                    source(srcset="./img/phone-mob.png" media="(max-width: 600px) and (orientation: portrait")
                    source(srcset="./img/phone-tab.png" media="(max-width: 950px) and (max-height: 450px) and (orientation: landscape")
                    img(src="./img/phone-mob.png" alt="favbet")
                picture.dark-mob
                    source(srcset="./img/phone-desc-dark.png" media="(min-width: 1025px)")
                    source(srcset="./img/phone-tab-dark.png" media="(min-width: 601px)")
                    source(srcset="./img/phone-mob-dark.png" media="(max-width: 600px) and (orientation: portrait")
                    source(srcset="./img/phone-tab-dark.png" media="(max-width: 950px) and (max-height: 450px) and (orientation: landscape")
                    img(src="./img/phone-mob-dark.png" alt="favbet")